body {
  background-color: #070707;
  display: block;
  font-family: monospace;
  padding: 0;
  margin: 0;
  animation: fadeInAnimation ease .5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

canvas,
#sketch-container {
  display: flex;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

.palette-container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  height: 60px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.color {
  border-radius: 25%;
  height: 45px;
  width: 45px;
  margin-left: 15px;
  margin-right: 15px;
}

.color:hover {
  opacity: .55;
}

.color-label {
  text-align: center;
  font-weight: normal;
}
